.ql-toolbar {
  position: fixed;
  // TODO: Commonise
  max-width: 720px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  // TODO: Move into a z-index file
  z-index: 100;
}

.ql-editor.ql-blank::before {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
.ql-script.ql-toolbar:after,
.ql-script .ql-toolbar:after {
  clear: both;
  content: '';
  display: table;
}
.ql-script.ql-toolbar button,
.ql-script .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}
.ql-script.ql-toolbar button svg,
.ql-script .ql-toolbar button svg {
  float: left;
  height: 100%;
}
.ql-script.ql-toolbar button:active:hover,
.ql-script .ql-toolbar button:active:hover {
  outline: none;
}
.ql-script.ql-toolbar input.ql-image[type=file],
.ql-script .ql-toolbar input.ql-image[type=file] {
  display: none;
}
.ql-script.ql-toolbar button:hover,
.ql-script .ql-toolbar button:hover,
.ql-script.ql-toolbar button:focus,
.ql-script .ql-toolbar button:focus,
.ql-script.ql-toolbar button.ql-active,
.ql-script .ql-toolbar button.ql-active,
.ql-script.ql-toolbar .ql-picker-label:hover,
.ql-script .ql-toolbar .ql-picker-label:hover,
.ql-script.ql-toolbar .ql-picker-label.ql-active,
.ql-script .ql-toolbar .ql-picker-label.ql-active,
.ql-script.ql-toolbar .ql-picker-item:hover,
.ql-script .ql-toolbar .ql-picker-item:hover,
.ql-script.ql-toolbar .ql-picker-item.ql-selected,
.ql-script .ql-toolbar .ql-picker-item.ql-selected {
  // TODO: Commonise
  color: #57B06B;
}
.ql-script.ql-toolbar button:hover .ql-fill,
.ql-script .ql-toolbar button:hover .ql-fill,
.ql-script.ql-toolbar button:focus .ql-fill,
.ql-script .ql-toolbar button:focus .ql-fill,
.ql-script.ql-toolbar button.ql-active .ql-fill,
.ql-script .ql-toolbar button.ql-active .ql-fill,
.ql-script.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-script .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-script.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-script .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-script.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-script .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-script.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-script .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-script.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-script .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-script.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-script .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-script.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-script .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-script.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-script .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-script.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-script .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-script.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-script .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-script.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-script .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #57B06B;
}
.ql-script.ql-toolbar button:hover .ql-stroke,
.ql-script .ql-toolbar button:hover .ql-stroke,
.ql-script.ql-toolbar button:focus .ql-stroke,
.ql-script .ql-toolbar button:focus .ql-stroke,
.ql-script.ql-toolbar button.ql-active .ql-stroke,
.ql-script .ql-toolbar button.ql-active .ql-stroke,
.ql-script.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-script .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-script.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-script .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-script.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-script .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-script.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-script .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-script.ql-toolbar button:hover .ql-stroke-miter,
.ql-script .ql-toolbar button:hover .ql-stroke-miter,
.ql-script.ql-toolbar button:focus .ql-stroke-miter,
.ql-script .ql-toolbar button:focus .ql-stroke-miter,
.ql-script.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-script .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-script.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-script .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-script.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-script .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-script.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-script .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-script.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-script .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #57B06B;
}
@media (pointer: coarse) {
  .ql-script.ql-toolbar button:hover:not(.ql-active),
  .ql-script .ql-toolbar button:hover:not(.ql-active) {
    color: #444;
  }
  .ql-script.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-script .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-script.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .ql-script .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: #444;
  }
  .ql-script.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-script .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-script.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .ql-script .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: #444;
  }
}
.ql-script {
  box-sizing: border-box;
}
.ql-script * {
  box-sizing: border-box;
}
.ql-script .ql-hidden {
  display: none;
}
.ql-script .ql-out-bottom,
.ql-script .ql-out-top {
  visibility: hidden;
}
.ql-script .ql-tooltip {
  position: absolute;
  transform: translateY(10px);
}
.ql-script .ql-tooltip a {
  cursor: pointer;
  text-decoration: none;
}
.ql-script .ql-tooltip.ql-flip {
  transform: translateY(-10px);
}
.ql-script .ql-formats {
  display: inline-block;
  vertical-align: middle;
}
.ql-script .ql-formats:after {
  clear: both;
  content: '';
  display: table;
}
.ql-script .ql-stroke {
  fill: none;
  stroke: #444;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-script .ql-stroke-miter {
  fill: none;
  stroke: #444;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.ql-script .ql-fill,
.ql-script .ql-stroke.ql-fill {
  fill: #444;
}
.ql-script .ql-empty {
  fill: none;
}
.ql-script .ql-even {
  fill-rule: evenodd;
}
.ql-script .ql-thin,
.ql-script .ql-stroke.ql-thin {
  stroke-width: 1;
}
.ql-script .ql-transparent {
  opacity: 0.4;
}
.ql-script .ql-direction svg:last-child {
  display: none;
}
.ql-script .ql-direction.ql-active svg:last-child {
  display: inline;
}
.ql-script .ql-direction.ql-active svg:first-child {
  display: none;
}
.ql-script .ql-editor h1 {
  font-size: 2em;
}
.ql-script .ql-editor h2 {
  font-size: 1.5em;
}
.ql-script .ql-editor h3 {
  font-size: 1.17em;
}
.ql-script .ql-editor h4 {
  font-size: 1em;
}
.ql-script .ql-editor h5 {
  font-size: 0.83em;
}
.ql-script .ql-editor h6 {
  font-size: 0.67em;
}
.ql-script .ql-editor a {
  text-decoration: underline;
}
.ql-script .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
.ql-script .ql-editor code,
.ql-script .ql-editor pre {
  background-color: #f0f0f0;
  border-radius: 3px;
}
.ql-script .ql-editor pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}
.ql-script .ql-editor code {
  font-size: 85%;
  padding: 2px 4px;
}
.ql-script .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
.ql-script .ql-editor img {
  max-width: 100%;
}
.ql-script .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}
.ql-script .ql-picker-label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}
.ql-script .ql-picker-label::before {
  display: inline-block;
  line-height: 22px;
}
.ql-script .ql-picker-options {
  background-color: #fff;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}
.ql-script .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ql-script .ql-picker.ql-expanded .ql-picker-label {
  color: #ccc;
  z-index: 2;
}
.ql-script .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc;
}
.ql-script .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc;
}
.ql-script .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
}
.ql-script .ql-color-picker,
.ql-script .ql-icon-picker {
  width: 28px;
}
.ql-script .ql-color-picker .ql-picker-label,
.ql-script .ql-icon-picker .ql-picker-label {
  padding: 2px 4px;
}
.ql-script .ql-color-picker .ql-picker-label svg,
.ql-script .ql-icon-picker .ql-picker-label svg {
  right: 4px;
}
.ql-script .ql-icon-picker .ql-picker-options {
  padding: 4px 0px;
}
.ql-script .ql-icon-picker .ql-picker-item {
  height: 24px;
  width: 24px;
  padding: 2px 4px;
}
.ql-script .ql-color-picker .ql-picker-options {
  padding: 3px 5px;
  width: 152px;
}
.ql-script .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px;
}
.ql-script .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  position: absolute;
  margin-top: -9px;
  right: 0;
  top: 50%;
  width: 18px;
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-script .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-script .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-script .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-script .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
  content: attr(data-label);
}
.ql-script .ql-picker.ql-header {
  width: 98px;
}
.ql-script .ql-picker.ql-header .ql-picker-label::before,
.ql-script .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Heading 1';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Heading 2';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Heading 3';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Heading 4';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: 'Heading 5';
}
.ql-script .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: 'Heading 6';
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em;
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em;
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em;
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em;
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em;
}
.ql-script .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em;
}
.ql-script .ql-picker.ql-font {
  width: 108px;
}
.ql-script .ql-picker.ql-font .ql-picker-label::before,
.ql-script .ql-picker.ql-font .ql-picker-item::before {
  content: 'Sans Serif';
}
.ql-script .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-script .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'Serif';
}
.ql-script .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-script .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace';
}
.ql-script .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif;
}
.ql-script .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace;
}
.ql-script .ql-picker.ql-size {
  width: 98px;
}
.ql-script .ql-picker.ql-size .ql-picker-label::before,
.ql-script .ql-picker.ql-size .ql-picker-item::before {
  content: 'Normal';
}
.ql-script .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Small';
}
.ql-script .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Large';
}
.ql-script .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Huge';
}
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px;
}
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px;
}
.ql-script .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px;
}
.ql-script .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff;
}
.ql-script .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000;
}
.ql-toolbar.ql-script {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
}
.ql-toolbar.ql-script .ql-formats {
  margin-right: 15px;
}
.ql-toolbar.ql-script .ql-picker-label {
  border: 1px solid transparent;
}
.ql-toolbar.ql-script .ql-picker-options {
  border: 1px solid transparent;
  box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
}
.ql-toolbar.ql-script .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ccc;
}
.ql-toolbar.ql-script .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
}
.ql-toolbar.ql-script .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-script .ql-color-picker .ql-picker-item:hover {
  border-color: #000;
}
.ql-toolbar.ql-script + .ql-container.ql-script {
  border-top: 0px;
}
.ql-script .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-script .ql-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px;
}
.ql-script .ql-tooltip input[type=text] {
  display: none;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 26px;
  margin: 0px;
  padding: 3px 5px;
  width: 170px;
}
.ql-script .ql-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.ql-script .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 16px;
  padding-right: 8px;
}
.ql-script .ql-tooltip a.ql-remove::before {
  content: 'Remove';
  margin-left: 8px;
}
.ql-script .ql-tooltip a {
  line-height: 26px;
}
.ql-script .ql-tooltip.ql-editing a.ql-preview,
.ql-script .ql-tooltip.ql-editing a.ql-remove {
  display: none;
}
.ql-script .ql-tooltip.ql-editing input[type=text] {
  display: inline-block;
}
.ql-script .ql-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: 'Save';
  padding-right: 0px;
}
.ql-script .ql-tooltip[data-mode=link]::before {
  content: "Enter link:";
}
.ql-script .ql-tooltip[data-mode=formula]::before {
  content: "Enter formula:";
}
.ql-script .ql-tooltip[data-mode=video]::before {
  content: "Enter video:";
}
.ql-script a {
  color: #57B06B;
}
.ql-container.ql-script {
  border: 1px solid #ccc;
}
