.block-select-wrapper {
  // TODO: Move into z-index file
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // TODO: Commonise
  max-width: 720px;
  margin: auto;
  text-align: right;
  padding-top: 12px;
  padding-right: 12px;

  select {
    font-family: 'Arvo', serif;
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
  }
}
